body{
    background-color: rgb(245, 240, 240);
    h1{
        font-size: 75px;
        text-align: center;
        font-weight: bold;
        font-style: inherit;
        color: #23b68a;
    }
    h2{
        color: black;
    }  
}


.form{
    width: 19%;
    height: 400px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.form-config a{
    text-decoration: none;
    font-weight: bold;
}

.form-config{
    margin: 0 auto;
    text-align: center;
}

.form-config form input[type="submit" ]{
    width: auto;
    
}

.efeitoCont:hover {
    transform: scale(1.1); /* Aumenta levemente o tamanho */
    box-shadow: 
        0 10px 30px rgba(0, 0, 0, 0.2), /* Sombra mais suave */
        0 5px 15px rgba(0, 0, 0, 0.15); /* Sombra mais intensa */
}


@media screen and (max-width: 768px) {


    .card{
        width: 90%;
    }
}





